<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="/js/document.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>